@page "/room/{RoomName}"
@attribute [RenderModeInteractiveServer(false)]
@inherits RoomBase

<h2>Room: @RoomName</h2>
<p>Clients count: @UsersCount</p>

@if (!RoomIsValid)
{
    <p>Enter your name</p>
    <InputText @bind-Value="UserName"/>
    <InputCheckbox @bind-Value="IsSpectator"/>
    <button @onclick="JoinRoom">Join</button>
    return;
}

<p>Hello, @UserName</p>

<p>All users :</p>
@foreach (var user in Users)
{
    <p>@user.Guid | @user.Name | @user.IsSpectator</p>
    @if(CurrentUser.IsSpectator)
    {
        @if (CurrentUser.Guid != user.Guid || CurrentUser.Name != user.Name)
        {
            <p>@user.CardValue</p>
        }
    }
    else if (!CurrentUser.IsSpectator && CurrentUser.Guid == user.Guid && CurrentUser.Name == user.Name)
    {
        <p>@user.CardValue</p>
    }
    else
    {
        @if (user.IsSpectator)
            continue;
        
        @if (CardsIsRevealed)
        {
            <p>@user.CardValue</p>
        }
        else
        {
            <p>?</p>
        }
    }
}

@if (!CurrentUser.IsSpectator)
{
    @foreach (var cardValue in CardValues)
    {
        <button @onclick="() => ClickOnCard(cardValue)">@cardValue</button>
    }
}
else
{
    @if (!CardsIsRevealed)
    {
        <button @onclick="RevealCards">Reveal cards</button>
    }
    else
    {
        <button @onclick="NewGame">Start new game</button>
    }
}
