@page "/room/{RoomName}"
@attribute [RenderModeInteractiveServer(false)]
@inherits RoomBase

<h2>Room: @RoomName</h2>
<p>Clients count: @UsersCount</p>

@if (!RoomIsValid)
{
    <p>Enter your name</p>
    <InputText @bind-Value="UserName"/>
    <InputCheckbox @bind-Value="IsSpectator"/>
    <button @onclick="JoinRoom">Join</button>
    return;
}

<p>Hello, @UserName</p>

<p>All users :</p>
@foreach (var user in _users)
{
    <p>@user.Guid | @user.Name | @user.IsSpectator | @user.CardValue</p>
}

@foreach (var cardValue in CardValues)
{
    <button @onclick="() => ClickOnCard(cardValue)">@cardValue</button>
}